{{#each posts}}
  <div class="blog-post card mb-4">
    <h2 class="card-body"><a href="/dashboard/post/{{id}}/edit">{{title}}</a></h2>
    <p>Date: {{formatDate createdAt}}</p>
  </div>
{{/each}}

<a class="btn btn-primary" href="/dashboard/new">Add New Blog Post</a>
