{{#each posts}}
  <div class="blog-post">
    <h2><a href="/dashboard/post/{{id}}/edit">{{title}}</a></h2>
    <p>Date: {{formatDate createdAt}}</p>
  </div>
{{/each}}

<a href="/dashboard/new">Add New Blog Post</a>
